body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1ecfc6;
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614425706_50-p-fon-dlya-temnoi-temi-57.jpg");
}